<!DOCTYPE html>
<html>
<head>
  <title>Sistema</title>
</head>
<body>
  {{{body}}}
  {{#if success_msg}}<p style="color:green">{{success_msg}}</p>{{/if}}
  {{#if error_msg}}<p style="color:red">{{error_msg}}</p>{{/if}}
</body>
</html>